.description {
  color: #263238;
  font-size: 2em !important;
  text-align: center;
  margin-bottom: 1em !important;
  font-weight: 300 !important;
}

.copyInput, .input {
  background: #f0f3f5;
}

.copyInput input, .copyInput svg {
  color: #263238 !important;
  -webkit-text-fill-color: #263238 !important;
}
.settingsRow {
  display: flex;
  margin: 4em 0;
}

.settings {
  width: 50%;
}

.demoContainer {
  position: relative;
  width: 50%;
  margin-left: 50px;
  margin-top: 2.5em;
}

.demoContainer::before {
  content: url('/arrow.png');
  display: flex;
  position: absolute;
  height: 5em;
  width: auto;
  top: -0.75em;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
}

.input {
  margin-bottom: 1em !important;
}

.layoutCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.preview {
  font-size: 0;
  width: calc(50% - 20px) !important;
  margin-bottom: 30px;
  cursor: pointer;
}

.imageInfo {
  margin: 1em !important;
  opacity: 0.7;
}

.colorInputContainer {
  display: flex;
  justify-content: space-between;
}

.colorInputContainer > * {
  min-width: 48% !important;
}

.copied {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.copiedHidden {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.baseUrl {
  margin-bottom: 1em;
}

.baseUrl label {
  margin-right: 1em;
}

.tableHead {
  background: #f3f3f3
}

@media screen and (max-width: 800px) {
  .settingsRow {
    flex-direction: column-reverse;
  }

  .settings, .demoContainer {
    width: 100%;
  }

  .demoContainer {
    margin-left: 0;
  }
}
