.container {
  min-height: 100vh;
  padding: 0 1em;
  background: #e9dddf;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 10px 0;
  margin: 0 auto 50px;
  font-size: 1.3em;
}

.header h1 {
  font-size: 1.3em;
}

.header a {
  color: #263238;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.logo {
  width: 35px;
  height: auto;
  margin-right: 0.5em;
}

.header a:hover,
.header a:focus,
.header a:active {
  opacity: 0.8;
}

.description {
  color: #263238;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
  font-weight: 300;
}

.icons svg {
  color: #263238;
  font-size: 1.5em;
  margin-left: 1.5em;
}

.icons svg:hover {
  opacity: 0.8;
}

.copyInput, .input {
  background: #f0f3f5;
}

.copyInput input, .copyInput svg {
  color: #263238 !important;
  -webkit-text-fill-color: #263238 !important;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.settingsRow {
  display: flex;
  margin: 4em 0;
}

.settings {
  width: 50%;
}

.demoContainer {
  position: relative;
  width: 50%;
  margin-left: 50px;
  margin-top: 2.5em;
}

.demoContainer::before {
  content: url('/arrow.png');
  display: flex;
  position: absolute;
  height: 5em;
  width: auto;
  top: -0.75em;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
}

.input {
  margin-bottom: 1em;
}

.footer {
  font-size: 1em;
}

.layoutCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.preview {
  font-size: 0;
  width: calc(50% - 20px) !important;
  margin-bottom: 30px;
  cursor: pointer;

  /* TODO active border */
}

.imageInfo {
  margin: 1em;
  opacity: 0.7;
}

.colorInputContainer {
  display: flex;
  justify-content: space-between;
}

.colorInputContainer > * {
  min-width: 48%;
}

@media screen and (max-width: 800px) {
  .settingsRow {
    flex-direction: column-reverse;
  }

  .settings, .demoContainer {
    width: 100%;
  }

  .demoContainer {
    margin-left: 0;
  }
}