@media screen and (min-width: 1200px) {
  .headline {
    font-size: 40px !important;
  }

  .description {
    font-size: 24px !important;
  }
}

@media screen and (max-width: 800px) {
  .headline {
    font-size: 6.2vw !important;
  }

  .description {
    font-size: 3.7vw !important;
  }
}